.createplan_div {
    box-shadow: 0 .4rem .8rem 0 rgba(0, 0, 0, 0.2);
}

.bucket_button {
    display: flex;
    margin-top: 20px;
    margin-bottom: 15px;
    padding: 10px;
    color: #fff;
    background-color: #e12e56;
    border: none;
}

.bucket_button:hover {
    color: #fff;
    background-color: #e74669;
}

.desciption_div {
    position: relative;
    width: 80%;
}

.desciption_div img {
    position: absolute;
    right: -14px;
    top: -16px;
}

.desciption_div p {
    text-align: start;
    background-color: #e74669;
    padding: 10px;
    color: #fff;
    font-weight: 500;
}