.createadmin_div {
    box-shadow: 0 .4rem .8rem 0 rgba(0, 0, 0, 0.2);
}

.createAdminBtn {
    color: #fff;
    background-color: #e12e56;
    border: none;
}

.createAdminBtn:hover {
    color: #fff;
    background-color: #e74669;
}