@font-face {
    font-family: loginFont;
    src: url('../../Fonts/BerkshireSwash-Regular.ttf');
}

.formtitle {
    font-family: loginFont;
    color: #fff;
}

.loginform_div {
    background-color: #e12e56;
    box-shadow: 0 .4rem .8rem 0 rgba(0, 0, 0, 0.2);
}

.btnLogin {
    border: 1px solid white;
    background-color: #fff;
    color: #e12e56;
    margin-top: 20px;
}

.btnLogin:hover {
    color: #fff;
    background-color: #e12e56;
}

#loginMail input[type="email"],
#loginPassword input[type="password"] {
    outline: none !important;
}